body{
    background: rgb(52,207,119);
    background: -moz-radial-gradient(circle, rgba(52,207,119,1) 0%, rgba(70,65,65,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(52,207,119,1) 0%, rgba(70,65,65,1) 100%);
    background: radial-gradient(circle, rgba(52,207,119,1) 0%, rgba(70,65,65,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#34cf77",endColorstr="#464141",GradientType=1);
}

td{
    color: white;
    font-size: 20px;
}

button{
font-size: 50px;
}